events-soon {
    .soon-position {
        padding-bottom: 3vh;
    }
    
    .soon-content {
    }
    
    .soon-content-img {
        padding: 5%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.3);
        width: 23vh;
        height: 23vh;
        color: #ffffff;
        border-radius: 3%;
        margin-left: 5vh;
        margin-right: 5vh; 
    }
    
    .soon-span-header {
        font-size: 6vw;
        font-weight: bold;
        margin-bottom: 3%;
    }
    
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        position: absolute;
        bottom: 0;
    }
    
    .swiper-container-android .swiper-slide, .swiper-wrapper {
        margin-bottom: 1.5vh;
    }
    
    .swiper-container-android .swiper-slide, .swiper-pagination, .swiper-pagination-bullet {
    }
    
    .swiper-container-android .swiper-slide, .swiper-pagination, .swiper-pagination-bullet-active {
        width: 4vh;
        border-radius: 3vh;
    }
}
