<ion-content>
    <div class="password-change-style" *ngIf="passwordChange == true">
        <div class="change-div-position">
            <button ion-button (click)="passwordChangeButton()">Anuluj</button>
            <button ion-button (click)="passwordChangeButton()">Zapisz</button>
        </div>
    </div>
    <div>
        <div class="head">
            <div class="head-head">
                Profil
            </div>
            <div class="photo">

            </div>
        </div>
        <div class="content">

            <div class="content-list">
                <ion-label color="dark" class="content-list-position-first">
                    <span>Filip{{i?.name}}</span> <span>{{i?.surrname}}</span>
                </ion-label>
            </div>

            <div class="content-list">
                <span class="content-list-position">
                    <ion-label color="dark" class="content-list-position-text">Email: </ion-label>
                    <button class="content-list-position-text-value-main">
                        <ion-label class="content-list-position-text-value">filip@cos.io{{i?.email}}</ion-label>
                        <label class="content-list-position-text-info">Naciśnij żeby zmienić.</label>
                    </button>
                </span>
            </div>

            <div class="content-list">
                <div class="password-checker">
                    <span class="content-list-position">
                        <ion-label color="dark" class="content-list-position-text">Hasło: </ion-label>
                        <button (click)="passwordChangeButton()" class="content-list-position-text-value-main">
                            <ion-label color="dark" class="content-list-position-text-value">
                                <span *ngIf="passwordshow == true">*********</span>
                                <span *ngIf="passwordshow == false">Nwm{{i?.password}}</span>
                            </ion-label>
                            <label class="content-list-position-text-info">Naciśnij żeby zmienić.</label>
                        </button>
                    </span>
                    <div class="password-button-main">
                        <button ion-button (click)="passwordShowButton()" class="password-button">Pokaż<br>hasło</button>
                    </div>
                </div>
            </div>

            <div class="content-list">
                <span class="content-list-position">
                    <ion-label color="dark" class="content-list-position-text-seccond">Barbacan{{i?.work}}</ion-label>
                </span>
            </div>

            <div class="content-list">
                <span class="content-list-position">
                    <ion-label color="dark" class="content-list-position-text-seccond">Barba_app{{i?.dontknowwhat}}</ion-label>
                </span>
            </div>
        </div>
    </div>
</ion-content>