page-contact {
  .events {
    height: 100%;
  }

  .head {
    padding: 3%;
    border-bottom: 1px solid #eeeeee;
  }

  .head-head {
    font-size: 2.3rem;
    font-weight: bold;
  }

  .contentt {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .week {
  }

  .week-head {
    padding: 4%;
    padding-left: 8%;
    font-size: 5vw;
    font-weight: bold;
  }

  .soon {
  }

  .soon-head {
    padding-bottom: 4%;
    padding-left: 8%;
    font-size: 5vw;
    font-weight: bold;
  }
}
