page-home {
    .head {
        width: 100%;
    }
    
    .head-head {
        padding: 4%;
        border-bottom: 1px solid #eeeeee;
    }

    .search-bar {
        position: absolute;
        padding: 0;
        width: 100%;
        height: 13%;
    }

    .searchbar-md {
        padding: 0;
        width: 100%;
    }

    .search-bar-style {
        height: 100%;
    }

    .head-text {
        font-size: 2.3rem;
        font-weight: bold;
    }

    .body {
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    .hed-positon-elements {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem;
    }

}
